body {
    background-color: white;
}

h1 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 100px;
    color: rgb(255, 124, 157);
    text-align: center;
}

h2 {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 75px;
    color: rgb(255, 124, 157);
    text-align: center;
    margin-bottom: -10px;
}

thead {
    background-color: aquamarine;
}

table {
    color: black;
    font-size: 15px;
    font-family: "Fira Sans", sans-serif;
    margin: 0 auto;
    border: 3px solid aquamarine;
    line-height: 2em;
    border-spacing: 5px;
}

th {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    color: black;
    text-align: left;
    padding-left: 5px;
}

td {
    border-top: 2px solid aquamarine;
    padding-left: 5px;
}

footer {
    font-family: "Cormorant Garamond", "Times New Roman", serif;
    font-size: 40px;
    color: aquamarine;
    text-align: center;
    margin: 50px 0px 75px 0px;
}

.code {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    background-color: aquamarine;
    color: black;
    font-size: 16px;
}

.firstcol {
    width: 160px;
}

.secondcol {
    width: 200px;
}

.thirdcol {
    width: 460px;
}